[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
pillow = "*"
python-dotenv = "*"
djangorestframework = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
dev-server = "python manage.py runserver"
makemigrations = "python manage.py makemigrations"
migrate = "python manage.py migrate"
createsuperuser = "python manage.py createsuperuser"
shell = "python manage.py shell_plus"
