[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
dev-server = "python src/manage.py runserver"
make-migrations = "python src/manage.py makemigrations"
migrate = "python src/manage.py migrate"
createsuperuser = "python src/manage.py createsuperuser"
shell = "python src/manage.py shell_plus"
